practicas/taskSoap/hellows-cli-ws/src/main/wsdl/TaskSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://taskws.bigws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://taskws.bigws/" name="TaskWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://taskws.bigws/" schemaLocation="http://localhost:8080/task?xsd=1"/>
</xsd:schema>
</types>
<message name="addTask">
<part name="parameters" element="tns:addTask"/>
</message>
<message name="addTaskResponse">
<part name="parameters" element="tns:addTaskResponse"/>
</message>
<message name="deleteTask">
<part name="parameters" element="tns:deleteTask"/>
</message>
<message name="deleteTaskResponse">
<part name="parameters" element="tns:deleteTaskResponse"/>
</message>
<message name="viewTask">
<part name="parameters" element="tns:viewTask"/>
</message>
<message name="viewTaskResponse">
<part name="parameters" element="tns:viewTaskResponse"/>
</message>
<portType name="TaskWebService">
<operation name="addTask">
<input wsam:Action="http://taskws.bigws/TaskWebService/addTaskRequest" message="tns:addTask"/>
<output wsam:Action="http://taskws.bigws/TaskWebService/addTaskResponse" message="tns:addTaskResponse"/>
</operation>
<operation name="deleteTask">
<input wsam:Action="http://taskws.bigws/TaskWebService/deleteTaskRequest" message="tns:deleteTask"/>
<output wsam:Action="http://taskws.bigws/TaskWebService/deleteTaskResponse" message="tns:deleteTaskResponse"/>
</operation>
<operation name="viewTask">
<input wsam:Action="http://taskws.bigws/TaskWebService/viewTaskRequest" message="tns:viewTask"/>
<output wsam:Action="http://taskws.bigws/TaskWebService/viewTaskResponse" message="tns:viewTaskResponse"/>
</operation>
</portType>
<binding name="TaskWebServicePortBinding" type="tns:TaskWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TaskWebServiceService">
<port name="TaskWebServicePort" binding="tns:TaskWebServicePortBinding">
<soap:address location="http://localhost:8080/task"/>
</port>
</service>
</definitions>
